@import './variables.scss';

html, body {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $bg_main;
}
input {
  border: none;
  outline: none;
}
#app {
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow: auto;
}

.el-button--primary, .el-button--primary.is-active, .el-button--primary:active {
    height: 44px;
    border: none;
    background-color: $btn_color_active;
    color: white;
}
.el-button--primary:focus, .el-button--primary:hover {
    height: 44px;
    border: none;
    background-color: $btn_color_hover;
    color: white;
}
.el-button.is-disabled {
  background-color: $btn_color_disable;
}